/* App background image */
.app-shell {
	background-color: #000;
	background-image: url("./assets/Homepage.png");
	background-position: center top;
	background-size: cover;
	background-repeat: no-repeat;
}
